body {
	background-color: teal;
}

#content {
 background-color: white;
 margin: 10px 20px 0;
}

header {
	padding: 30px 0;
	text-align: center;
}

img {
	margin: 0 auto;
	width: 400px;
}

main {
	background-color: gray;
	padding-top: 10px;
	padding-bottom: 10px;
}

h2 {
	text-align: center;
}

h3 {
	text-align: center;
}

article {
	background-color: white;
	margin: 0 40px 10px 40px;
	padding: 10px 5px;
}

footer {
	padding-bottom: 5px;
}